body{
    overflow: hidden;
    font-family: 'Rubik', sans-serif;
    min-height: 100vh;
    min-width: 100vw;
}

.center{
    position: relative;
    left: 50%;
}

#text-box{
    width: 310px;
}
/* --------------------------------------------------------------------------------------------------------*/
.header-top{
    background-image: linear-gradient(to right, #9c00ff, #1600ff);
    background-size: 100 1280px;
    padding: 4px;
    padding-left: 40px;
    padding-right: 15px;
    position: static;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.search-box{
    background: #1d1d1d;
    height: 40px;
    width: 310px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    padding: 5px;
    color: #f0f5fb;
    font-size: 14px;
}
/* --------------------------------------------------------------------------------------------------------*/
.header-left{
    display: flex;
    padding-left: 40px;
    padding-top: 3%;
    gap: 15px;
    width: 20%;
    min-height: 100%;
    flex-direction: column;
    border-right: 1px solid #5c5c5c;
}

.header-button{
    background: #2e2e2e;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    max-height: max-content;
    max-width: max-content;
    min-height: 45px;
}

.header-button-txt{
    align-items: center;
    color: #fff;
    font-size: 18px;
    padding-right: 25px;
    padding-left: 10px;
}

.icon-button{
    width: max-content;
    height: max-content;
    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
}
/* --------------------------------------------------------------------------------------------------------*/
.feed{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: max-content;
}

.send{
    display: flex;
    flex-direction: row;
    background-color: #2e2e2e;
    border-radius: 50px;
    padding: 1.5%;
    max-width: max-content;
    align-self: flex-end;
    color: #f0f5fb;
}

.feed-text-box{
    width: 200px;
    height: 310px;
    position: absolute;
}

.feed-txt-area{
    border: none;
    border-radius: 20px;
    background: #2e2e2e;
    outline: none;
    padding: 10px;
    color: #f0f5fb;
    font-size: 20px;
    resize: none;
    min-height: 150px;
    align-self: stretch;
    min-width: 200px;
}

main{
    width: 100%;
}

.tweets{
    display: flex;
    border-top: 1px solid #5c5c5c;
    padding-left: 16px;
    padding-left: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    position: relative;
}