body{
    overflow: hidden;
    font-family: 'Rubik', sans-serif;
}

.center{
    position: relative;
    left: 50%;
}

#text-box{
    width: 310px;
}
/* --------------------------------------------------------------------------------------------------------*/
.header-top{
    background-image: url(./img/header.png);
    background-size: 100% 1280px;
    padding: 4px;
    padding-left: 40px;
    padding-right: 15px;
    position: static;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.search-box{
    background: #1d1d1d;
    height: 40px;
    width: 310px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    padding: 5px;
    color: #f0f5fb;
    font-size: 14px;
}
/* --------------------------------------------------------------------------------------------------------*/
.header-left{
    padding: 40px;
    padding-top: 3%;
    width: max-content;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-right: 1px solid #5c5c5c;
    box-sizing: border-box;
}

.header-button{
    background: #2e2e2e;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    max-height: max-content;
    max-width: max-content;
    min-height: 45px;
}

.header-button-txt{
    align-items: center;
    color: #fff;
    font-size: 18px;
    padding-right: 25px;
    padding-left: 10px;
}

.icon-button{
    width: max-content;
    height: max-content;
    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
}
/* --------------------------------------------------------------------------------------------------------*/
.feed{
    min-width: 50%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.send{
    background-color: #2e2e2e;
    border-radius: 50px;
    padding: 1.5%;
    max-width: max-content;
    text-align: right;
    color: #f0f5fb;
}

.feed-text-box{
    width: 200px;
    height: 310px;
}

.feed-search-txt{
    width: 90%;
    border: none;
    border-radius: 50px;
    background: none;
    outline: none;
    padding: 10px;
    color: #f0f5fb;
    font-size: 20px;
}